<?xml version="1.0"?>
<config>
    <default>
        <cms>
            <imageresize>
                <small>150x150</small>
                <medium>300x300</medium>
                <large>1024x1024</large>
            </imageresize>
        </cms>
    </default>
    <modules>
        <Jvs_ImageResize>
            <version>0.0.1</version>
        </Jvs_ImageResize>
    </modules>
    <global>
        <models>
            <jvs_imageresize>
                <class>Jvs_ImageResize_Model</class>
            </jvs_imageresize>
        </models>
        <helpers>
            <jvs_imageresize>
                <class>Jvs_ImageResize_Helper</class>
            </jvs_imageresize>
        </helpers>
        <events>
            <controller_action_postdispatch_adminhtml_cms_wysiwyg_images_upload>
                <observers>
                    <jvs_imageresize_resizer>
                        <class>jvs_imageresize/observer</class>
                        <method>imageUploadHandler</method>
                    </jvs_imageresize_resizer>
                </observers>
            </controller_action_postdispatch_adminhtml_cms_wysiwyg_images_upload>
            <controller_action_postdispatch_adminhtml_cms_wysiwyg_images_deleteFiles>
                <observers>
                    <jvs_imageresize_delete>
                        <class>jvs_imageresize/observer</class>
                        <method>imageDeleteHandler</method>
                    </jvs_imageresize_delete>
                </observers>
            </controller_action_postdispatch_adminhtml_cms_wysiwyg_images_deleteFiles>
        </events>
    </global>
</config>
